import * as React from "react";
import styles from "./{{ kebabCase name }}.module.scss";

interface {{ pascalCase name }}Props {
	children?: React.ReactNode;
}

/**
 * # {{ pascalCase name }}
 * {{ description }}
 */
export function {{ pascalCase name }}({ children }: {{ pascalCase name }}Props) {
	return (
		<div className={styles.container}>
			<h1 data-testid="{{ kebabCase name }}-h1">{{ name }}</h1>
			{children}
		</div>
	);
}
